<h1>Listing locals</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Distrito</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Telefono fijo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locals.each do |local| %>
  <tr>
    <td><%= local.nombre %></td>
    <td><%= local.direccion %></td>
    <td><%= local.distrito %></td>
    <td><%= local.latitude %></td>
    <td><%= local.longitude %></td>
    <td><%= local.telefono_fijo %></td>
    <td><%= link_to 'Show', local %></td>
    <td><%= link_to 'Edit', edit_local_path(local) %></td>
    <td><%= link_to 'Destroy', local, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= form_tag locals_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<%= link_to 'New Local', new_local_path %>
