<h1>Listing comentarios</h1>

<table>
  <tr>
    <th>Texto</th>
    <th>Calificacion</th>
    <th>Locals</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comentarios.each do |comentario| %>
  <tr>
    <td><%= comentario.texto %></td>
    <td><%= comentario.calificacion %></td>
    <td><%= comentario.local.nombre %></td>
    <td><%= link_to 'Show', comentario %></td>
    <td><%= link_to 'Edit', edit_comentario_path(comentario) %></td>
    <td><%= link_to 'Destroy', comentario, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comentario', new_comentario_path %>
