<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @publicidad.titulo %>
</p>

<p>
  <b>Contenido:</b>
  <%= @publicidad.contenido %>
</p>

<p>
  <b>Fecinicio:</b>
  <%= @publicidad.FecInicio %>
</p>

<p>
  <b>Fecfin:</b>
  <%= @publicidad.FecFin %>
</p>

<p>
  <b>Tarifa:</b>
  <%= @publicidad.Tarifa %>
</p>

<p>
  <b>Num clicks:</b>
  <%= @publicidad.num_clicks %>
</p>

<p>
  <b>Ubicacion:</b>
  <%= @publicidad.ubicacion %>
</p>


<%= link_to 'Edit', edit_publicidad_path(@publicidad) %> |
<%= link_to 'Back', publicidads_path %>
