<h1>Listing turnos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miercoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Sabado</th>
    <th>Domingo</th>
    <th>Horaini</th>
    <th>Horafin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @turnos.each do |turno| %>
  <tr>
    <td><%= turno.nombre %></td>
    <td><%= turno.lunes %></td>
    <td><%= turno.martes %></td>
    <td><%= turno.miercoles %></td>
    <td><%= turno.jueves %></td>
    <td><%= turno.viernes %></td>
    <td><%= turno.sabado %></td>
    <td><%= turno.domingo %></td>
    <td><%= turno.HoraIni %></td>
    <td><%= turno.HoraFin %></td>
    <td><%= link_to 'Show', turno %></td>
    <td><%= link_to 'Edit', edit_turno_path(turno) %></td>
    <td><%= link_to 'Destroy', turno, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Turno', new_turno_path %>
