<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @turno.nombre %>
</p>

<p>
  <b>Lunes:</b>
  <%= @turno.lunes %>
</p>

<p>
  <b>Martes:</b>
  <%= @turno.martes %>
</p>

<p>
  <b>Miercoles:</b>
  <%= @turno.miercoles %>
</p>

<p>
  <b>Jueves:</b>
  <%= @turno.jueves %>
</p>

<p>
  <b>Viernes:</b>
  <%= @turno.viernes %>
</p>

<p>
  <b>Sabado:</b>
  <%= @turno.sabado %>
</p>

<p>
  <b>Domingo:</b>
  <%= @turno.domingo %>
</p>

<p>
  <b>Horaini:</b>
  <%= @turno.HoraIni %>
</p>

<p>
  <b>Horafin:</b>
  <%= @turno.HoraFin %>
</p>


<%= link_to 'Edit', edit_turno_path(@turno) %> |
<%= link_to 'Back', turnos_path %>
